/* GENERAL STYLE */
:root {
    --green: #567E4F;
    --blue: #023D7E;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* MAIN STYLE */
main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticketWindow {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.693);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
}

#ticketWindow > * {
    margin: 1.5rem 3rem;
}

h1 {
    text-transform: capitalize;
}

h1, h4 {
    font-family: 'Rubik Microbe', cursive;
    color: var(--green);
}

.ticketInfo {
    text-align: left;
}

.ticketInfo p {
    margin: 1rem 0;
}

.ticketInfo p > span {
    font-size: .95rem;
    text-transform: capitalize;
}