/* GENERAL STYLE */
:root {
    --green: #567E4F;
    --blue: #023D7E;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poiret One', cursive;
}



/* MAIN STYLE */
main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticketWindow {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.693);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

#ticketWindow > * {
    margin: 1.2rem 3rem;
}

#bgnBtn {
    margin: 0 auto;
    background-color: var(--blue);
    color: white;
    border-radius: 0.9rem;
    border: 1px solid var(--green);
    padding: 8px 22px;
    letter-spacing: .13rem;
    cursor: pointer;
}

#bgnBtn:hover {
    background-color: #023e7ec0;
    box-shadow: 0 6px 30px 1px rgba(0, 0, 0, 0.6);
}

h1 {
    text-transform: capitalize;
}

h1, h4 {
    font-family: 'Rubik Microbe', cursive;
    color: var(--green);
}

#guideText {
    color: rgb(156, 7, 7);
    font-size: .8rem;
    margin: .2rem 0;
    display: none;
}

#ticketInfo {
    display: none;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .8rem;
    padding: .8rem;
}

#ticketInfo h3 {
    text-align: left;
    padding: .32rem 0;
    border-bottom: 0.5px solid var(--blue);
}

#ticketInfo p {
    margin: 1rem 0;
}

#ticketInfo p > span {
    font-size: .95rem;
    text-transform: capitalize;
}

#ticketWindow hr {
    border: 0.5px solid var(--blue);
    margin: 1rem 5%;
}